*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}

.Gamecontainer{
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
.bean{
    background-image: url(Mrbean.png);
    background-repeat: no-repeat;
    width: 150px;
    height: 270px;
    background-size: cover;
    position: absolute;
    bottom: 0;
}
.obstacle{
    background-image: url(mrsWicket.png);
    background-repeat: no-repeat;
    width: 150px;
    height: 270px;
    background-size: cover;
    position: absolute;
    bottom: 0; 
    right: 0;
}
.gameover{
    visibility: hidden;
    text-align: center;
    font-size: xx-large;
    font-style: inherit;
    color: rgb(253, 247, 247);
}
.scoreCnt{
    position: relative;
    border: 2px solid black;
    width: 112px;
}

.beanAnimation{
    animation: Bean_Ani 0.6s linear;
}
@keyframes Bean_Ani{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 300px;
    }
    100%{
        bottom: 0;
    }
    
}
.obstacleAnimation{
    animation: obst_Ani 2.0s linear infinite;
}
@keyframes obst_Ani{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}

